.testimonial-parent {
  background-color: #0e0d0d;
  position: relative;
  .testimonial-cont {
    display: flex;
    padding: 100px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    .top-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .heading {
        font-size: clamp(40px, 4vw, 60px);
        color: white;
        font-weight: 700;
        width: 20ch;
        text-align: center;
      }
      .highlight {
        background: white;
        padding: 10px 20px;
        border-radius: 50px;
        color: black;
        box-shadow: var(--shadow);
      }
    }

    .bottom-side {
      display: flex;
      align-items: stretch;
      gap: 20px;
      width: 70%;
      border-radius: 10px;

      .left-card {
        width: 40%;
        flex-shrink: 0;
        gap: 40px;
        background: var(--gold);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        .heading {
          color: black;
          font-weight: 800;
          font-size: 130px;
        }
        .desc {
          margin-top: -50px;
          color: black;
          font-size: 18px;
          display: flex;
          gap: 10px;
          span {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              color: var(--accent);
            }
          }
        }
        .second-heading {
          color: black;
          font-size: 36px;
          text-align: center;
          font-weight: 500;
        }
      }

      .right-card {
        width: 60%;

        .swiper {
          width: 100%;
        }

        .swiper-slide {
          color: #fff;
          display: flex;
          justify-content: center;
          border-radius: 10px;
          align-items: center;
          .testimonial-card {
            width: 100%;
            background: #2f2e2e;

            border-radius: 10px;
            display: flex;
          }

          .testimonial-left {
            width: 65%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 120px;

            .stars {
              display: flex;
              gap: 6px;
              color: #ffbf00;
              font-size: 20px;
            }

            h3 {
              color: #fff;
              font-size: 28px;
              font-weight: 500;
              margin-top: -80px;
            }

            .bottom-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .custom-pagination {
                display: flex;
                gap: 8px;

                .swiper-pagination-bullet {
                  width: 10px;
                  height: 10px;
                  background: white;
                  opacity: 0.4;
                  border-radius: 50%;
                }

                .swiper-pagination-bullet-active {
                  width: 32px;
                  border-radius: 30px;
                  background: #6dfb63;
                  opacity: 1;
                }
              }
              .custom-navigation {
                display: flex;
                gap: 15px;

                button {
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                  background: transparent;
                  border: 1px solid rgba(255, 255, 255, 0.15);
                  color: white;
                  cursor: pointer;
                  transition: 0.3s;

                  &:hover {
                    background: var(--green);
                    color: #000;
                    border-color: var(--green);
                  }
                }
              }
            }
          }

          .testimonial-right {
            width: 35%;
            border-left: 1px solid rgba(255, 255, 255, 0.15);

            padding: 50px 40px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .company-logo {
              width: 120px;
              object-fit: contain;
            }

            .user-box {
              display: flex;
              flex-direction: column;
              gap: 15px;

              .user-img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
              }

              h4 {
                color: white;
                font-size: 26px;
                font-weight: 700;
              }

              p {
                color: #8f8f8f;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}
