.abt_comp {
  height: auto;
  width: 100%;
  background-color: #010101;
  position: relative;
  z-index: 1;

  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../../../assets/background_stuck/grid.png");
    background-size: contain;
    opacity: 0.5;
  }

  .overlay2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(circle at 15%, transparent 0%, #010101 14%);
  }

  .cl_overlay {
    position: absolute;
    top: 0;
    left: 2%;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    // img{
    //   width: 100%;
    //   height: 100%;
    //   object-fit: contain;
    // }
  }

  .abt_comp_cont {
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      position: relative;

      .circle {
        position: absolute;
        left: 10%;
        top: 60%;
      }

      .image {
        width: 60%;
        height: 60%;

        .hero-video {
          width: 100%;
          height: 80%;
          object-fit: cover;
          display: block;
          border-radius: 10px;
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(var(--gap) * 8);
      height: 100%;
      padding: 100px 0px;

      .top {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: calc(var(--gap) * 8);

        .count {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h3 {
            font-size: 94px;
            color: #6eff6e;
            font-family: "Inter", sans-serif;
          }

          p {
            text-align: left;
            line-height: 140%;
            color: white;
          }
        }
      }

      .ct {
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        h4 {
          font-size: 84px;
          color: var(--white);

          span {
            color: #6eff6e;
          }
        }

        p {
          font-size: 26px;
          line-height: 140%;
        }
      }

      .services {
        display: flex;
        gap: calc(var(--gap) * 3);
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .sr_left,
        .sr_right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(var(--gap) * 3);

          .box {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            background: #181818;
            padding: 60px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: auto;

            &::before {
              content: "";
              position: absolute;
              width: 220%;
              height: 220%;
              top: -60%;
              left: -60%;

              background: conic-gradient(
                transparent 0deg,
                transparent 300deg,
                var(--gold) 330deg,
                transparent 360deg
              );

              animation: rotateBorder 4s linear infinite;
              animation-play-state: paused;

              opacity: 0;
              transition: opacity 0.3s ease;
            }

            &::after {
              content: "";
              position: absolute;
              inset: 1px;
              background: #181818;
              border-radius: inherit;
              z-index: 0;
            }

            > * {
              position: relative;
              z-index: 1;
            }

            &:hover::before {
              opacity: 1;
              animation-play-state: running;
            }
          }

          @keyframes rotateBorder {
            to {
              transform: rotate(360deg);
            }
          }
          .content-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .icon {
              color: var(--gold);
              width: fit-content;
              font-size: 50px;
            }
            .heading {
              color: white;
            }
          }
          .btn {
            color: var(--gold);
            display: flex;
            gap: 20px;
            text-decoration: underline;
            align-items: center;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              transition: var(--trans);
            }
            &:hover {
              span {
                rotate: 45deg;
              }
            }
          }
        }

        .sr_right {
          transform: translateY(50px);
        }
      }
    }
  }
}
@media only screen and (max-width:1400px) {
  .abt_comp {
    .abt_comp_cont {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
      .left {
        .circle {
          display: none;
        }
        .image {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .hero-video {
            width: 80%;
            height: auto;
          }
        }
      }
    }
  }
}
