.footer-parent {
  height: auto;
 
  background-color: #010101;
  position: relative;
  overflow: hidden;
  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../assets/background_stuck/grid.png");
    background-size: contain;
    opacity: 0.2;
  }

  .overlay2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(circle at 15%, transparent 0%, #010101 14%);
  }
  .cl_overlay {
    position: absolute;
    top: 0;
    right: 2%;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    // img{
    //   width: 100%;
    //   height: 100%;
    //   object-fit: contain;
    // }
  }
  .footer-cont {
    padding: 60px 10px 0px 10px;
    position: relative;
    .top-panel {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 40px 0px;
      .left-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        .top-group {
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: flex-start;
          .heading {
            font-size: clamp(40px, 4vw, 60px);
            color: white;
            font-weight: 700;
            span {
              color: var(--gold);
            }
          }
        }
        .bottom-group {
          display: flex;
          gap: 20px;
          color: white;
          a {
            transition: var(--trans);
            &:hover {
              color: var(--gold);
            }
          }
        }
      }
      .right-footer {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: flex-end;
        gap: 100px;
        .bottom-side {
          display: flex;
          gap: 20px;
          width: 100%;

          .group1,
          .group2,
          .group3 {
            width: calc(100% / 3 - 20px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            h5 {
              color: white;
              font-size: 36px;
              font-weight: 900;
            }
            a {
              font-size: 18px;
              cursor: pointer;
              transition: var(--trans);
              &:hover {
                color: var(--gold);
              }
            }
          }
        }
      }
    }
    .bottom-panel {
      display: flex;
      padding: 20px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.326);
      justify-content: space-between;
      .right-sides {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img {
          width: 30px;
        }
        .txt {
          font-weight: 800;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .footer-parent {
    .footer-cont {
      .top-panel {
        flex-direction: column;
        .left-footer {
          width: 100%;
          .bottom-group {
            padding-top: 120px;
          }
        }
        .right-footer {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .footer-parent {
    .footer-cont {
      .top-panel {
        .left-footer{
            .bottom-group{
                flex-wrap: wrap;
            }
        }
        .right-footer {
          .bottom-side {
            flex-wrap: wrap;
            gap: 40px;
            .group1,
            .group2,
            .group3 {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
