.service-parent {
  width: 100%;
  background: #090909;
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  .service-cont {
    width: 90%;
    max-width: 1400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  /*==========================
          TOP
  ==========================*/

  .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    .left-side {
      flex: 1;
      h2 {
        color: #fff;
        font-size: clamp(50px, 5vw, 80px);
        line-height: 1.1;
        font-weight: 700;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      gap: 40px;

      .tag-line {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          color: var(--gold);
          font-size: 60px;
          line-height: 1;
        }

        p {
          color: #d8d8d8;
          font-size: 20px;
          line-height: 1.6;
        }
      }

      .circle-btn {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: none;
        background: var(--gold);
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.35s;

        svg {
          font-size: 42px;
          color: #111;
          transition: 0.35s;
        }

        &:hover {
          transform: scale(1.08);

          svg {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  /*==========================
          GRID
  ==========================*/

  .bottom-side {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(2, 420px);

    gap: 30px;
  }

  /*==========================
        COMMON CARD
  ==========================*/

  .image-card,
  .service-card {
    border-radius: 24px;
  }

  /*==========================
        IMAGE CARD
  ==========================*/

  .image-card {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      transition: 0.45s ease;
    }
  }

  /*==========================
        SERVICE CARD
  ==========================*/

  .service-card {
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #2b2b2b;
    height: 100%;
    justify-content: space-between;
    transition: var(--trans);

    &:hover {
      transform: translateY(-8px);
    }

    &.active {
      border-color: var(--gold);
      box-shadow: 0 20px 60px rgba(255, 226, 98, 0.12);
    }

    .card-tag {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 8px 20px;
      border-radius: 50px;
      background: var(--gold);
      color: #111;
      font-weight: 600;
      font-size: 14px;
    }

    h3 {
      color: #fff;
      font-size: 34px;
      line-height: 1.2;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 60px;

      li {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #d5d5d5;

        font-size: 16px;

        svg {
          color: var(--gold);
          font-size: 16px;
        }
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      button {
        border: none;
        background: transparent;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 16px;

        cursor: pointer;

        svg {
          transition: 0.35s;
        }

        &:hover {
          svg {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .img-box {
      position: absolute;
      right: 10px;
      bottom: 10px;
      img {
        width: 200px;
        transition: 0.35s;
      }
    }

    &:hover {
      .card-footer img {
        transform: scale(1.08);
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .service-parent {
    .service-cont {
      .top-side {
        .left-side {
          h2 {
            font-size: 40px;
          }
        }
        .right-side {
          .tag-line {
            p {
              font-size: 16px;
            }
          }
          .circle-btn {
            width: 60px;
            height: 60px;
          }
          svg {
            font-size: 30px;
          }
        }
      }
      .bottom-side {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .service-parent {
    .service-cont {
      .top-side {
        gap: 20px;
        .right-side {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .service-parent {
    .service-cont {
      .top-side {
      }
      .bottom-side {
        gap: 10px;
        grid-template-rows: repeat(1, 380px);
        .service-card {
          padding: 20px;
          height: auto;
          img{
            width:160px;
            
          }
        }
      }
    }
  }
}
