/* ==========================================
   GOOGLE FONTS
========================================== */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");
/* ==========================================
   ROOT VARIABLES
========================================== */

:root {
  /* Brand Colors */

  --accent: #0f3d2e;
  --accent2: #195341;
  --gold: #c9a34e;
  --charcoal: #1c1c1c;
  --ivory: #f7f4ed;
  --white: #ffffff;
  --text: #5d5d5d;
  --border: #e5dfd3;
  --grey: #efece6;
  --background:#f7f4ed;
  /* Layout */
  --max-width: 1200px;
  --gap: 10px;
  --trans: all 0.35s ease;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* ==========================================
   RESET
========================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--ivory);
  color: var(--text);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* ==========================================
   CONTAINER
========================================== */
.parent {
  width: 100%;
}
.cont {
  max-width: var(--max-width);
  margin: auto;
  width: 100%;
  padding: 0 10px;
}

/* ==========================================
   TYPOGRAPHY
========================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  color: var(--charcoal);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.9;
  color: var(--text);
  font-weight: 400;
}


/* ==========================================
   IMAGE HELPERS
========================================== */

.bg-cover {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-contain {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}



@media (max-width: 991px) {
  section {
    padding: var(--section-padding-mobile) 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 16px;

    line-height: 1.8;
  }
}

@media (max-width: 600px) {
  .cont {
    padding: 0 16px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }
}


